/Ciclo 2/Hola-Mundo/nbproject/private/
/Ciclo 2/Hola-Mundo/build/
/Ciclo 2/Hola-Mundo/dist/
/Ciclo 2/VolumenSolido/nbproject/private/
/Ciclo 2/VolumenSolido/build/
/Ciclo 2/AreaVagon/nbproject/private/
/Ciclo 2/AreaVagon/build/
/Ciclo 2/AreaCarro/nbproject/private/
/Ciclo 2/AreaCarro/build/
